.address-container {
	margin-top: 25px;
	// border: 1px solid black;
	min-width: 800px;
	max-width: 1400px;
}
h1 {
	// font-family: 'Zilla Slab', serif;
	// font-family: 'Play', sans-serif;
}
label {
	font-size: 1.25rem;
	// font-style:normal;
	// font-family: 'Zilla Slab', serif;
	// font-weight: bold;
}
