@import url('https://fonts.googleapis.com/css2?family=Play&family=Zilla+Slab:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400&display=swap');
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

html {
	font-size: 16px;
}

:global(*) {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

:global(body) {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	width: 100%;
	background: #e2ecec;
	// font-family: 'Play', sans-serif;
	// font-family: 'Sora', sans-serif;
}

a {
	text-decoration: none;
	color: black;
}
a:hover {
	cursor: pointer;
}

#root {
	height: 100vh;
}
