.card-body {
	border: 1px solid red;
	width: 24%;
	// height: 100%;
	max-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 10px 0;
	overflow: hidden;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);

	div {
		text-align: center;
	}
	.header {
		font-size: large;
	}
	@media (min-width: 2260px) {
		.header {
			font-size: 3rem;
		}
	}
}
