.one {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 80%;
	width: 100%;
	padding: 10px 5px 5px 5px;

	img {
		width: 100%;
		height: 100%;
		padding: 0 10px;
	}
}

.four {
	// also this height was renmn
	// height: 50%;
	width: 50%;
	height: 50%;
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: flex-start;
	padding: 10px 5px 5px 5px;
	overflow: hidden;

	img {
		// max-width: 100%;
		// display: ;
		width: 100%;
		height: 80%;

		//If something seems odd turn the below
		// 2 height and width for better control
		// width: 110px;
		// height: 110px;
		//
		// min-height: 100%;
		object-fit: contain;
	}

	.name {
		height: 10%;
		overflow: visible;
	}
	@media (min-width: 1800px) {
		img {
			width: 150px;
			height: 130px;
			object-fit: contain;
		}
	}
	@media (min-width: 2260px) {
		img {
			position: relative;
			width: 100%;
			height: 80%;
			// width: 250px;
			// height: 250px;
			object-fit: contain;
		}
		.name {
			font-size: 2rem;
		}
	}
}
