@mixin flex-center-row {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.25rem;
	// width: 100%;
}

@mixin flex-center-column {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 1.25rem;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
header {
	background-color: rgb(223, 202, 202);
	.header-nav {
		margin: 0 auto;
		display: flex;
		// width: 1500px;
		height: 60px;
		min-width: 50rem;
		max-width: 90rem !important;
	}
}

.header-nav {
	.logo,
	.search-elem,
	.login {
		@include flex-center-row();
	}

	.pin,
	.cart-wrapper {
		@include flex-center-column();
	}

	.logo,
	.pin,
	.search-elem,
	.cart-wrapper {
		padding: 0 20px;
	}
	padding: 0 10px;

	.search-elem {
		flex: 1;
		justify-content: stretch;
	}
	.search-elem .outline-elem {
		flex: 1;
		@include flex-center-row();
		height: fit-content;
		border-radius: 5px;

		&:focus-within {
			outline-offset: -2px;
			outline: 4px solid salmon;
			// box-shadow: 1px solid salmon;
		}

		// &:hover {
		// 	box-shadow: 1px 1px 1.5px red;
		// }

		.category > select {
			padding: 9.8px;
			width: 100%;
			border: none;

			border-bottom-left-radius: 5px;
			border-top-left-radius: 5px;
			// min-height: 100%;
		}

		.search-bar {
			display: flex;
			flex: 1;
			& > input {
				outline: none;
				// flex: 1;
				width: 100%;
				padding: 8px;
				border: 0px;
				border-left: 1px solid #dfdfdf;
				border-right: 1px solid #dfdfdf;
			}
		}
		.searchbtn {
			margin-left: auto;
		}

		.searchbtn button {
			background: gold;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
			border: none;
			padding: 10.6px;
		}
	}
	.login {
		margin-left: auto;
	}

	button {
		background: transparent;
		border: none;
		cursor: pointer;
	}
}

.lone-header {
	display: flex;
	// align-items: center;
	justify-content: center;
}
