input[type='text'],
input[type='password'] {
	width: 100%;
	padding: 4px;
	font-size: 1.1rem;
	border: 1px solid pink;

	&:focus-visible {
		outline: 1px solid salmon;
		// box-shadow: 1px solid salmon;
	}
}

input[type='file'] {
	flex-grow: 1;
}

.variant1 {
	width: 100%;
	// box-sizing: border-box;
	padding: 5px 0;
	label {
		display: block;
		padding: 5px;
		padding-left: 2px;
		font-size: 1rem;
	}

	input {
		font-size: 0.875rem;
		padding: 10px;
		width: 100% !important;
		border-radius: 5px;
	}

	// &:{
	// 	padding: 2px;
	// }
}
